[user]
	name = gadmyth
	email = gadmyth@gmail.com

[color]
        diff = auto
        status = auto
        branch = auto

[alias]
  st = status
  sts = status -s
  rb = svn rebase
  ci = commit -a
  co = checkout
  br = branch
  logp = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit --
