# file path: /usr/share/xsessions/xmonad.desktop
[Desktop Entry]
Encoding=UTF-8
Name=xmonad
Comment=Tiling window manager
Exec=xmonad-start
Type=XSession
Terminal=false

[Window Manager]
SessionManaged=true

