BODY {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    background-color: #FFF;
    color: #2C3E50
    /*
	padding : 0.7in;
	font-size : 14px;
	line-height: 1.6;
	font-family : Helvetica, arial, sans-serif;
	background : white;
	border-style: solid;
	border-width: 20pt;
	border-color: lightgray;
	width: 1000px;
	margin: 0 auto;
*/
}

body.framed {
              padding: 10pt;
              border-style:none;
              }

body.ascii{
            background-color : Black;
            }

body,button,input,select {
    font-family: PingFang SC,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
}

P{
   text-indent : 2em;
   }

p.banner {
           text-align : center;
           }

P.mmix{
        text-indent : 0;
        font-size : medium;
        }

P.tip{
       color: blue;
       }

OL{
    list-style-type: decimal;
    padding-bottom : 8px;
    text-indent : 0;
    font-size : 14px;
    /*background: gray;*/
    }

OL.arabic {
            list-style-type: decimal;
            }
OL.cjk {
         list-style-type: cjk-ideographic;
         }

OL.roman{
          list-style-type: lower-roman;
          }

a {
    color: #08c;
    text-decoration: none
}

a:Hover {
    color: #005580;
    text-decoration: underline
}

hr {
    border: 0;
    border-bottom: 1px dashed #cfcfcf;
    margin: 30px 0
}

UL {
     list-style-type : circle;
     }

div{
     border : 0px;
     border-color : white;
     border-style : solid;
     padding-left: 10pt;
     }

IMG{
	border : 0;
	margin: 2 2 2 2;
     }

img.formula {
              border : thin;
              border-color: blue;
              border-style : solid;
              }


pre {
      border: #777777 1px solid;
      padding: 0.5em;
      margin-left: 1em;
      margin-right: 2em;
      white-space: pre;
      background-color: snow;
      color: #006400 ;
      font-family : Luxi Mono, Luxi Sans, Monospace, sans-serif;
      font-size: 90%;
      overflow: auto;
      max-height: 3in;
      }


pre.syntax {
             background: lightblue;
             }

pre.error {
            background-color: pink;
            }

pre.url {
          background: bisque;
          }

pre.verse { 
            background: pink;}
em {
     color: #FF9900;
     text-decoration:none;
     font-style:normal;
     }

em.phrase {
            color: blue;
            text-decoration:none;
            font-style:normal;
            }

h1 {
    margin: 50px 0 20px;
    font-size: 30px
}


h1.home{
         color: #102C4A;
         font-size: 34px;
         }
h2 {
    margin: 35px 0 20px;
    font-size: 26px
}
h3 {
    margin: 20px 0;
    font-size: 21px
}

h4 {
    font-size: 18px
}

h5,h6 {
    font-size: 16px
}

LI {
     margin-top: 5px;
     }

span.checkbox {
	font-size: 20px;
	color: red;
}

span.check {
	font-size: 20px;
	color: green;
}

LI.explained {
               }

p.adage{ 
         background: lightyellow; 
         border: green; 
         border-style: solid;
         }

p.script {
           font-size: small;
           text-align:right;
           }


div.tl{ 
        position: fixed;
        width: 7%;
        top: .4cm;
        right: 0;
        left: .4cm;
        bottom: auto;
        margin:0;
        padding: 5px;
        font-size:  28px;
        color:#666;
        border-bottom: 5px solid #000;
        margin: 0px;
        margin-bottom: 8px;
        }


.example { border: 1pt solid black; padding: 10pt; background: rgb(240, 240, 255); overflow: auto }

code {
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
}

span.tag {
    border: 0;
    background-color: #D6DBDF;
    border-radius: 4px;
    color: #2C3E50;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}

span.tag {
    font-family: PingFang SC,Hiragino Sans GB,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif;
}